.card-container {
	perspective: 800px;
	-webkit-perspective: 800px;
	-moz-perspective: 800px;
	-o-perspective: 800px;
}

/* flip */
.card-container:not(.manual-flip):hover .card,
.card-container.hover.manual-flip .card {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
}

/* flip speed */
.card {
	transition: transform .5s;
	-webkit-transition: -webkit-transform .5s;
	-moz-transition: -moz-transform .5s;
	-o-transition: -o-transform .5s;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	position: relative;
}

/* hide back during flip */
.front,
.back {
	position: absolute;
	background-color: #FFF;
}

/* initially hide back */
.back {
	z-index: 3;
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
}

.card-container,
.front,
.back {
	width: 100%;
	height: 420px;
	border-radius: 4px;
	box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.16);
	-webkit-box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.16);
	-moz-box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.16);
}

.card .cover {
	height: 105px;
	overflow: hidden;
	border-radius: 4px 4px 0 0;
}

.card .cover img {
	width: 100%;
}

.card .user {
	border-radius: 50%;
	margin: -55px auto 0;
	overflow: hidden;
	width: 120px;
	height: 124px;	
}

.card .user img {
	width: 100%;
}

.card .content .main {
	min-height: 160px;
}

.card .back .content .main {
	height: 215px;
}

.card .name {
	font-size: 22px;
	line-height: 28px;
	margin: 10px 0 0;
	text-align: center;
	text-transform: capitalize;
}

.card h5 {
	margin: 5px 0;
	font-weight: 400;
	line-height: 20px;
}

.card .profession {
	color: #999999;
	text-align: center;
	margin-bottom: 20px;
}

.card .footer {
	border-top: 1px solid #EEEEEE;
	color: #999999;
	margin: 30px 0 0;
	padding: 10px 0 0;
	text-align: center;	
}

.card .footer .social-links {
	font-size: 18px;
}

.card .footer .social-links a {
	margin: 0 7px;
}

.card .footer .btn-simple {
	margin-top: -6px;
}

.card .header {
	padding: 15px 20px;
	height: 90px;
}

.card .motto {
	border-bottom: 1px solid #EEEEEE;
	color: #999999;
	font-size: 14px;
	font-weight: 400;
	padding-bottom: 10px;
	text-align: center;
}

.card .stats-container {
	width: 100%;
	margin-top: 50px;
}

.card .stats {
	display: block;
	float: left;
	width: 33.333333%;
	text-align: center;
}

.card .stats:first-child {
	border-right: 1px solid #EEEEEE;
}

.card .stats:last-child {
	border-left: 1px solid #EEEEEE;
}

.card .stats h4 {
	font-weight: 300;
	margin-bottom: 5px;
}

.card .stats p {
	color: #777777;
}

.card .back .footer {
	margin-top: 70px;
}
	
/* Fix bug for IE */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.front,
	.back {
		backface-visibility: visible;
		-ms-backface-visibility: visible;
	}

	.back {
		visibility: hidden;
		-ms-transition: all 0.2s cubic-bezier(.92, .01, .83, .67);
	}

	.front {
		z-index: 4;
	}

	.card-container:not(.manual-flip):hover .back,
	.card-container.manual-flip.hover .back {
		z-index: 5;
		visibility: visible;
	}
}
