<section id="about">
	<div class="container">
		<div class="col-12 text-truncate about-title">
			<p class="text-center font-weight-bold">About Us</p>
		</div>
		<div class="row">
			<card name="Ido Bleicher" role="Co-Founder" sentence="Crazy for money" motto="To be or not to be.." followers="1335" following="114" projects="58"
				facebook="https://www.facebook.com/ido.bleicher" linkedin="https://www.linkedin.com/in/ido-bleicher-223818137/" github="https://github.com/iuyt9003"></card>
			<card name="Yonatan Kreiner" role="Co-Founder" sentence="Crazy for motorcycles" motto="It's not about timing the market it's about time in the market" 
				followers="504" following="110" projects="39"
				facebook="https://www.facebook.com/yonatankreiner" linkedin="https://www.linkedin.com/in/yonatan-kreiner/" github="https://github.com/yonatanKreiner"></card>
		</div> 
	</div> 
</section>
