<section id="about-section">
	<div class="row">
		<div class="col-12 text-truncate about-title">
			<p class="text-center font-weight-bold">About Us</p>
		</div>
		<div class="col-md-6 col-sm-6">
			<div class="card-container">
				<div class="card">
					<div class="front">
						<div class="cover">
							<img src="https://static.pexels.com/photos/68672/beach-beverage-caribbean-cocktail-68672.jpeg" />
						</div>
						<div class="user">
							<img class="img-circle" src="/images/Ido.png"/>
						</div>
						<div class="content">
							<div class="main">
								<h3 class="name">Ido Bleicher</h3>
								<p class="profession">Co-Founder</p>
								<p class="text-center">"Each Day More 1 Shekel"</p>
							</div>
							<div class="footer">
								<button class="btn btn-simple" onclick="rotateCard(this)">
									<i class="fa fa-mail-forward"></i> Manual Rotation
								</button>
							</div>
						</div>
					</div>
					<div class="back">
						<div class="header">
							<h5 class="motto">"To be or not to be!"</h5>
						</div>
						<div class="content">
							<div class="main">
								<h4 class="text-center">Job Description</h4>
								<p class="text-center">Alot Of Ideas, Programmer..."</p>
								<div class="stats-container">
									<div class="stats">
										<h4>1335</h4>
										<p>Followers</p>
									</div>
									<div class="stats">
										<h4>114</h4>
										<p>Following</p>
									</div>
									<div class="stats">
										<h4>58</h4>
										<p>Projects</p>
									</div>
								</div>
							</div>
						</div>
						<div class="footer">
							<div class="social-links text-center">
								<a href="http://deepak646.blogspot.in/" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
								<a href="http://deepak646.blogspot.in/" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
								<a href="http://deepak646.blogspot.in/" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-sm-6">
			<div class="card-container">
				<div class="card">
						<div class="front">
							<div class="cover">
								<img src="https://static.pexels.com/photos/68672/beach-beverage-caribbean-cocktail-68672.jpeg" />
							</div>
							<div class="user">
								<img class="img-circle" src="/images/Yonatan.png"/>
							</div>
							<div class="content">
								<div class="main">
									<h3 class="name">Yonatan Kriener</h3>
									<p class="profession">Co-Founder</p>
									<p class="text-center">"In Love with Motorcycles"</p>
								</div>
								<div class="footer">
									<div class="rating">
										<i class="fa fa-mail-forward"></i> Auto Rotation
									</div>
								</div>
							</div>
						</div>
						<div class="back">
							<div class="header">
								<h5 class="motto">"To be or not to be!"</h5>
							</div>
							<div class="content">
								<div class="main">
									<h4 class="text-center">Job Description</h4>
									<p class="text-center">Programmer...</p>
									<div class="stats-container">
										<div class="stats">
											<h4>500</h4>
											<p>Followers</p>
										</div>
										<div class="stats">
											<h4>114</h4>
											<p>Following</p>
										</div>
										<div class="stats">
											<h4>39</h4>
											<p>Projects</p>
										</div>
									</div>
								</div>
							</div>
							<div class="footer">
								<div class="social-links text-center">
									<a href="http://deepak646.blogspot.in/" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
									<a href="http://deepak646.blogspot.in/" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
									<a href="http://deepak646.blogspot.in/" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
								</div>
							</div>
					</div>
				</div>
			</div>
		</div>
	</div> 
</section>
