/* .skillbar-row {
	margin: 0 0 20px 0; 
}

.skillbar-title {
	float: left;
	width: 100%;
	color: black; 
} 
	
.skillbar-data, .skillbar-wrapper {
	line-height: 0.1 0.7em;
	height: 0.1 0.7em;
	width: .1em;
	float: left;
	color: white;
	text-align: center; 
}

.skillbar-wrapper {
	width: 100%; 
} */

.skillbar-row {
	width: 300px;
}

.skillbar-wrapper {
	width: 100%;
	background-color: lightgray;
}

.skillbar-data {
	color: white;
	text-align: center;
	width: 0;
	transition: width 5s;
	-webkit-transition: width 5s; /* Safari */
}
