<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
	<a class="navbar-brand" href="/home" ng-click="navbar.gotoAnchor('home')">
		<img src="/images/logo-transparent.png" width="30" height="30" class="d-inline-block align-top" alt="">
		ArrowFinds
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarsExampleDefault">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="/home" ng-click="navbar.gotoAnchor('home')">Home<span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/features" ng-click="navbar.gotoAnchor('features')">Features</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/pricing" ng-click="navbar.gotoAnchor('pricing')">Pricing</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/about" ng-click="navbar.gotoAnchor('about')">About</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/login" ng-click="navbar.login()">{{navbar.LoginStatus}}</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/affiliate">Affiliate</a>
			</li>
		</ul>
		<form class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
			<button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
		</form>
	</div>
</nav>
