<section id="Pricing">
	<div class="container  pricing-footer-margin">
		<div class="row">
			<div class="col-12 text-truncate pricing-title">
				<p class="text-center font-weight-bold">Pricing</p>
			</div>
		</div>
		<div class="row">
			<div class="card card-pricing col-md-5 col-sm-8 text-center">
				<div class="card-header card-pricing-header">
					<h3 class="card-title white">Basic</h3>
				</div>
				<div class="card-body card-pricing-body">
					<h4>$9.90</h4>
					<ul class="list-group">
						<li class="list-group-item"><i class="fa fa-check">&nbsp;one month use</i></li>
						<li class="list-group-item"><i class="fa fa-check">&nbsp;hottest products</i></li>
						<li class="list-group-item"><i class="fa fa-check">&nbsp;products and sellers finding</i></li>
						<li class="list-group-item"><i class="fa fa-check">&nbsp;24/7 support</i></li>
						<li class="list-group-item"><i class="fa fa-check">&nbsp;free week use</i></li>
					</ul>
				</div>
				<div class="card-footer card-pricing-footer">
					<a href="/#!/premium" class="btn btn-lg btn-block card-pricing-button white">Buy now</a>
				</div>
			</div>
			<div class="col"></div>
			<div class="card card-pricing col-md-5 col-sm-8 text-center">
				<div class="card-header card-pricing-header">
					<h3 class="card-title white">Premium</h3>
				</div>
				<div class="card-body card-pricing-body">
					<h4>$29.90</h4>
					<ul class="list-group">
						<li class="list-group-item"><i class="fa fa-check">&nbsp;3 monthes use</i></li>
						<li class="list-group-item"><i class="fa fa-check">&nbsp;hottest products</i></li>
						<li class="list-group-item"><i class="fa fa-check">&nbsp;products and sellers finding</i></li>
						<li class="list-group-item"><i class="fa fa-check">&nbsp;24/7 support</i></li>
						<li class="list-group-item"><i class="fa fa-check">&nbsp;free week use</i></li>
					</ul>
				</div>
				<div class="card-footer card-pricing-footer">
					<a href="/#!/premium" class="btn btn-lg btn-block card-pricing-button white">Buy now</a>
				</div>
			</div>
		</div>
	</div>
</section>
