#pricing-section {
	margin: 0;
}

.card-pricing {
	color: white;
	padding: 0;
}

.card-pricing-header {
	background-color: #2c3e50;
	padding: 5% 0;
}

.card-pricing-body {
	background-color: #f0f0f0;
	color: #777777;
	padding: 0;
}

.card-pricing-body > h4 {
	margin: 4% 0;
	font-weight: bold;
}

.card-pricing-footer {
	background-color: #f0f0f0;
}

.card-pricing-button {
	background-color: #2c3e50;
	color: white;
}

.fixing-left-border{
	    border-width: 0px;
}

.row-fixing{
	margin-left: 0px;
	margin-right: 0px;
}

.white{
	color:white;
}
