<section id="affliate">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<h1>Welcome to the affiliate page: {{affiliate.user.email}} </h1>
				<div>
					<h2>Here is your ref code: </h2>
					<div>
						<code><h4>https://arrowfinds.com/aff?ref={{affiliate.user.userCode}}</h4></code>
					</div>
					<br/>
					<h5>You Have:
						<span style="color:green">{{affiliate.affiliateData.needpay | currency:'USD$':2}}</span>
					</h5>
					<button class="btn btn-primary">
						<i class="fa fa-credit-card-alt"></i> Checkout</button>
					<h5>
						<span style="color:red">Only when 10$+</span>
					</h5>
				</div>
				<div>
					<h4>Precentage: {{affiliate.affiliateData.levelPercentage * 100 | currency:'%':2}} </h4>
					<div style="display: flex">
						<img src="/images/money.png" />
						<h5 style="margin-top: 10%">{{affiliate.affiliateData.reward}}</h5>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div id="skillgraph" class="panel panel-default row">
				<div class='panel-title text-Left '></div>
				<!-- <div class='row skill-row'>
					<span class='skillLabel'>To Next level: </span>
					<code>More - {{(affiliate.affiliateData.nextLevel) | currency:'$':2}} To go!</code>
					<br/>
					<span class='skillData-Wrapper'>
						<span class='skillData bg' style="background-color: green" percent='100'>
							{{affiliate.affiliateData.level}} - {{affiliate.affiliateData.levelPercentage | currency:'%':2}}</span>
					</span>
				</div>
				<div class='row skill-row'>
					<span class='skillLabel'>Total Sold:</span>
					<code>Your Profit - {{affiliate.affiliateData.payout | currency:'$':2}}</code>
					<br/>
					<span class='skillData-Wrapper'>
						<span class='skillData bg-rust' percent='100'>{{affiliate.affiliateData.profit | currency:'$':2}}</span>
					</span>
				</div>
				<div class='row skill-row'>
					<span class='skillLabel'>Ref Joined Count:</span>
					<span class='skillData-Wrapper'>
						<span class='skillData bg-blue' percent='100'>RefCounts - {{affiliate.affiliateData.usersReferred}}</span>
					</span>
				</div> -->
				<!--  color='bg-blue' bar='test'  -->
				<skillbar title='Next level' color='red' percentage='20'></skillbar><br/>
				<!-- <skillbar title='Total Sold' color='green' percentage='70'></skillbar><br/> -->
				<!-- <skillbar title='Reffered Count' color='blue' percentage='40'></skillbar><br/> -->
			</div>
		</div>
	</div>
</section>



<!-- <script>
// ASK kriner how to summon this thing


//loadSkillgraph();
</script> -->
