<section id="affliate">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<h1>Welcome to the affiliate page: {{affiliate.email}} </h1>
				<div>
					<h2>Here is your ref code: </h2>
					<div>
						<code><h4>https://arrowfinds.com/aff?ref={{affiliate.userCode}}</h4></code>
					</div>
					<br/>
					<h5>You Have:
						<span style="color:green">{{affiliate.needpay| currency:'USD$':2}}</span>
					</h5>
					<button class="btn btn-primary">
						<i class="fa fa-credit-card-alt"></i> Checkout</button>
					<h5>
						<span style="color:red">Only when 10$+</span>
					</h5>
				</div>
				<div>
					<h4>Precentage: {{(affiliate.profit/ affiliate.stage ) * 100 | currency:'%':2}} </h4>
					<div style="display: flex">
						<!-- <img src="/images/rewardmoney.png" /> -->
						<h5 style="margin-top: 10%">{{affiliate.reward}}</h5>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div id="skillgraph" class="panel panel-default row">
				<div class='panel-title text-Left '></div>
				<div class='row skill-row'>
					<span class='skillLabel'>To Next level: </span>
					<code>More - {{(affiliate.stage - affiliate.profit) | currency:'USD$':2}} To go!</code>
					<br/>
					<span class='skillData-Wrapper'>
						<span class='skillData bg' style="background-color: green" data-percent='100'>{{affiliate.level}} - {{(affiliate.profit/affiliate.userStage) * 100 | currency:'%':2}}</span>
					</span>
				</div>
				<div class='row skill-row'>
					<span class='skillLabel'>Total Sold:</span>
					<code>Your Profit - {{affiliate.needpay | currency:'USD$':2}}</code>
					<br/>
					<span class='skillData-Wrapper'>
						<span class='skillData bg-rust' data-percent='100'>{{affiliate.profit | currency:'USD$':2}}</span>
					</span>
				</div>
				<div class='row skill-row'>
					<span class='skillLabel'>Ref Joined Count:</span>
					<span class='skillData-Wrapper'>
						<span class='skillData bg-blue' data-percent='100'>RefCounts - {{affiliate.usersAmount}}</span>
					</span>
				</div>
			</div>
		</div>
	</div>
</section>



<!-- <script>
// ASK kriner how to summon this thing
function loadSkillgraph() {
$(".skillData").each(function(index, element) {
    // element == this
    var mydata = $(element).data();
    var cnt = 0;

    //recursive call with a time delay so user can see graph draw.
    function go() {
        if (cnt++ < mydata['percent']) {
            setTimeout(go, 10);
        }
        $(element).css('width', cnt + '%');

    }

    go();

});

}

//loadSkillgraph();
</script> -->
