#home_img{
	width:100%;
	background-size:cover;
	max-height: 400px;
}

#white{
	color:white;
}

.thumbnail {
    position: relative;
}

.caption {
    position: absolute;
    top: 15%;
    left: 0;
    width: 100%;
}
