#home-img{
	width: 100%;
	background-size: cover;
	max-height: 400px;
}

#home-text {
	color:white;
}

.thumbnail {
	position: relative;
}

.caption {
	position: absolute;
	top: 15%;
	left: 0;
	width: 100%;
}

.home-row-fixing{
	margin-left: 0px;
	margin-right: 0px;
}
