header {
	color: white;
	background: url("/images/cash-out-of-laptop.jpeg");
	background-position: center;
	background-size: cover;
	max-height: 700px;
	height: 700px;
	overflow: hidden;
}

.intro-text {
	font-size: 5rem;
	margin: 5% auto;
}

.intro-text img {
	max-width: 5%;
}

.intro-text .name {
	font-size: 6rem;
}
