<section id="Features" class="feature-class">
	<div class="container">
		<div class="row">
			<div class="col-12 text-truncate features-title">
				<p class="text-center font-weight-bold">Our Features</p>
			</div>
		</div>
		<div class="row">
			<div class="card-deck features-card-fix">
				<feature image="magnifier.png" text="Find the best DropShipping products for ebay"></feature>
				<feature image="ecommerce.jpg" text="Find droppers from the largest platforms"></feature>
				<feature image="affiliate-marketing.jpg" text="Earn money from affiliate program"></feature>
				<feature image="monitor.jpeg" text="Upload your products to your favorite monitor"></feature>
			</div>
		</div>
	</div>
</section>
