#features-section {
	background-color: #ecf0f1;
	padding: 5%;
}

.features-title {
	font-size: 3.5rem;
	margin-bottom: 10%;
}
/* .features-class {
	margin: 0 0 5em 0;
}

.feature {
	max-width: 15em;
	border-radius: 10%;
}

.card-img-top {
	border-radius: 10% 10% 0 0;
}

.text-center{
	text-align: center;
}

.features-card-fix{
	margin-left:8%;
} */
