<section id="Features" class="feature-class">
	<div class="container">
		<div class="row">
			<div class="col-12 text-truncate features-title">
				<p class="text-center font-weight-bold">Our Features</p>
			</div>
		</div>
		<div class="row">
			<div class="card-deck features-card-fix">
				<div class="card feature border-info mb-3">
					<img class="card-img-top border border-top-0 border-right-0 border-left-0 border-bottom border-info" src="/images/magnifier.png" alt="Ebay products">
					<div class="card-body">
						<p class="card-text">Find the best DropShipping products for ebay</p>
					</div>
				</div>
				<div class="card feature border-info mb-3">
					<img class="card-img-top border border-top-0 border-right-0 border-left-0 border-bottom border-info" src="/images/ecommerce.jpg" alt="E-Commerce">
					<div class="card-body">
						<p class="card-text">Find droppers from the largest platforms</p>
					</div>
				</div>
				<div class="card feature border-info mb-3">
					<img class="card-img-top border border-top-0 border-right-0 border-left-0 border-bottom border-info" src="/images/affiliate-marketing.jpg" alt="Affiliate marketing">
					<div class="card-body">
						<p class="card-text">Earn money from affiliate program</p>
					</div>
				</div>
				<div class="card feature border-info mb-3">
					<img class="card-img-top border border-top-0 border-right-0 border-left-0 border-bottom border-info" src="/images/monitor.jpeg" alt="Monitor">
					<div class="card-body">
						<p class="card-text">Upload your products to your favorite monitor</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
