.features-class {
	margin: 0 0 5em 0;
}

.feature {
	max-width: 15em;
	border-radius: 10%;
}

.card-img-top {
	border-radius: 10% 10% 0 0;
}

.text-center{
	text-align: center;
}

.features-card-fix{
	margin-left:8%;
}
