#login-section {
	margin-top: 15em;
}

.box {
	border-radius: 3px;
	box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.2);
	padding: 10px 25px;
}

.box-icon {
	background-color:rgb(44, 62, 80);
	border-radius: 50%;
	display: table;
	height: 100px;
	margin: 5% auto;
	width: 100px;
	margin-top: -60px;
}

.box-icon > div {
	color: white;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.title {
	margin: 5% auto;
}

.input {
	margin: 3% auto;
	margin-top : 0px;
}

.lock{
	width: 41px;
}

.error-show{
	color:#e74c3c;
}
